*.db
db/*.db
*.zip
*.sqlite
*.json
!data/demo_data.json
!secrets.example.json
!frontend/package.json
!frontend/.stylelintrc.json
frontend/node_modules/
node_modules/
frontend/package-lock.json
package-lock.json
__pycache__/
reports/
last_db.txt
static/screenshots/
static/sitezips/
logs/
*.log
.vscode/
venv/
.venv/
*/.venv/
!schemas/*.json
