<div class="retrorecon-root">
  <div class="chat-overlay hidden">
    <div class="chat-overlay__resize"></div>
    <div class="chat-overlay__header">
      <button type="button" class="chat-overlay__close btn">×</button>
    </div>
    <div class="chat-overlay__messages"></div>
    <div class="chat-overlay__input">
      <input class="chat-overlay__input-field input" type="text" placeholder="Ask a question about your data" />
      <button class="chat-overlay__send btn">Send</button>
    </div>
  </div>
</div>
