<!-- File: templates/demo.html -->
<div id="demo-overlay" class="notes-overlay hidden">
  <div class="d-flex flex-between mb-05">
    <select id="demo-select" class="form-select mr-05">
      <option value="">Demo…</option>
      <option value="index">index</option>
      <option value="subdomonster">subdomonster</option>
      <option value="screenshotter">screenshotter</option>
      <option value="about">about</option>
    </select>
    <button type="button" class="btn" id="demo-close-btn">Close</button>
  </div>
  <div id="demo-view" class="demo-view"></div>
</div>
