<div id="httpolaroid-overlay" class="notes-overlay hidden">
  <div class="mb-05">
    <input type="text" id="httpolaroid-url" class="form-input mr-05 w-20em" placeholder="https://example.com" />
    <select id="httpolaroid-agent" class="form-select mr-05">
      <option value="">Desktop</option>
      <option value="android">Android</option>
      <option value="bot">Search Engine</option>
    </select>
    <label class="mr-05">
      <input type="checkbox" id="httpolaroid-ref" class="form-checkbox" /> Spoof referrer
    </label>
    <button type="button" class="btn" id="httpolaroid-capture-btn">Capture</button>
    <button type="button" class="btn" id="httpolaroid-delete-btn">Delete</button>
    <button type="button" class="btn" id="httpolaroid-close-btn">Close</button>
  </div>
  <div id="httpolaroid-table" class="mt-05"></div>
</div>
