<!-- File: templates/layerslayer.html -->
<div id="layerslayer-overlay" class="notes-overlay hidden">
  <div class="mb-05">
    <input type="text" id="layerslayer-image" class="form-input mr-05 w-20em" placeholder="user/repo:tag" />
    <button type="button" class="btn" id="layerslayer-fetch-btn">Fetch</button>
    <button type="button" class="btn" id="layerslayer-close-btn">Close</button>
    <span id="layerslayer-status" class="ml-05"></span>
  </div>
  <div id="layerslayer-info" class="mb-05"></div>
  <pre id="layerslayer-console" class="mb-05"></pre>
  <div id="layerslayer-table" class="mt-05"></div>
</div>
