<div id="markdown-editor-overlay" class="notes-overlay hidden">
  <button type="button" class="btn overlay-close-btn" id="markdown-editor-close">Close</button>
  <div class="font-bold mb-05">Markdown Editor</div>
  <div class="md-editor-body d-flex flex-1">
    <div id="md-file-list" class="md-file-list mr-05"></div>
    <form id="markdown-editor-form" class="flex-1">
      {% include 'custom/markdown_embed.html' %}
    </form>
  </div>
  <div class="mt-05">
    <button type="button" class="btn" id="md-open-btn">Load File</button>
    <input type="file" id="md-file-input" accept=".md,text/markdown" class="d-none" />
    <button type="button" class="btn" id="md-save-btn">Save As</button>
  </div>
</div>
