{% extends 'oci_base.html' %}
{% block body %}
<h1><a class="mt" href="/">Registry Explorer</a></h1>
<h2>{{ display_image or image }}</h2>
<input type="radio" name="tabs" id="tab1" checked>
<label for="tab1">HTTP</label>
<input type="radio" name="tabs" id="tab2">
<label for="tab2">OCI</label>
<div class="tab content1">
{% for k, v in data.headers.items() %}
{{ k }}: {{ v }}<br>
{% endfor %}
<pre class="manifest-json">{{ data.descriptor|tojson(indent=2) }}</pre>
</div>
<div class="tab content2">
<pre class="manifest-json">{{ data.descriptor|tojson(indent=2) }}</pre>
</div>

<h4><span class="noselect">$ </span><a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/README.md">crane</a> <a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_manifest.md">manifest</a> {{ display_image or image }} | jq .</h4>
<pre class="manifest-json">{{ data.manifest|manifest_links(image, data.descriptor.digest, link_size=False) }}</pre>
{% endblock %}
