{% extends 'oci_base.html' %}
{% block body %}
<h1><a class="top" href="/"><img class="crane" src="{{ url_for('favicon_svg') }}"/> <span class="link">Registry Explorer</span></a></h1>
<h2><a class="mt" href="/?repo={{ repo }}">{{ repo }}</a>@<a class="mt" href="/?image={{ image }}&mt={{ headers['Content-Type']|urlencode }}">{{ digest }}</a></h2>
<input type="radio" name="tabs" id="tab1" checked>
<label for="tab1">HTTP</label>
<input type="radio" name="tabs" id="tab2">
<label for="tab2">OCI</label>
<div class="tab content1">
Content-Type: <a class="mt" href="https://github.com/opencontainers/image-spec/blob/main/manifest.md">{{ headers['Content-Type'] }}</a><br>
Docker-Content-Digest: <a class="mt" href="/?image={{ repo }}@{{ digest }}&mt={{ headers['Content-Type']|urlencode }}&size={{ descriptor.size }}">{{ digest }}</a><br>
<span title="{{ descriptor_size_hr }}">Content-Length: {{ descriptor.size }}</span><br>
</div>
<div class="tab content2">
<pre class="manifest-json">{{ descriptor|tojson(indent=2) }}</pre>
</div>
<h4><span class="noselect noselect--tight">$ </span><a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/README.md">crane</a> <a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_export.md">export</a> {{ image }} | tar -tv{% if path %} {{ path }}{% endif %}</h4>
<table class="fs-table">
  <thead>
    <tr><th>Layer</th><th>Perms</th><th>Owner</th><th>Size</th><th>Modified</th><th>Name</th></tr>
  </thead>
  <tbody>
  {% for it in items %}
    <tr>
      <td><a href="/fs/{{ repo }}@{{ it.digest }}">{{ it.digest[:8] }}</a></td>
      <td class="text-mono">{{ it.perms }}</td>
      <td class="text-mono">{{ it.owner }}</td>
      <td class="text-right" title="{{ it.size_hr }}">{{ it.size }}</td>
      <td>{{ it.ts }}</td>
      <td><a href="/layers/{{ image }}@{{ digest }}{{ it.path }}">{{ it.name }}{% if it.is_dir %}/{% endif %}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
