<!-- File: templates/oci_fs.html -->
{% extends 'oci_base.html' %}
{% block body %}
<h1><a class="mt" href="/">Registry Explorer</a></h1>
<h2>{{ repo }}@{{ digest }}: {{ path }}</h2>
<form id="filter-form" method="get">
  <input type="text" name="q" value="{{ q }}" placeholder="Filter" class="form-input mr-05" />
  <button type="submit" class="btn">Apply</button>
</form>
<input type="radio" name="tabs" id="tab1" checked>
<label for="tab1">HTTP</label>
<input type="radio" name="tabs" id="tab2">
<label for="tab2">OCI</label>
<div class="tab content1">
Content-Type: <a class="mt" href="https://github.com/opencontainers/image-spec/blob/main/layer.md">{{ media_type }}</a><br>
Docker-Content-Digest: <a class="mt" href="/fs/{{ repo }}@{{ digest }}?mt={{ media_type|urlencode }}&size={{ size }}">{{ digest }}</a><br>
<span title="{{ size_hr }}">Content-Length: {{ size }}</span><br>
</div>
<div class="tab content2">
<pre class="manifest-json">{{ {'mediaType': media_type, 'digest': digest, 'size': size}|tojson(indent=2) }}</pre>
</div>
<h4><span class="noselect noselect--tight">$ </span><a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/README.md">crane</a> <a class="mt" href="https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_blob.md">blob</a> {{ repo }}@{{ digest }} | tar -tvz{% if subpath %}  {{ subpath }}{% endif %}</h4>
<table class="fs-table">
  <thead>
    <tr><th>Perms</th><th>Owner</th><th>Size</th><th>Modified</th><th>Name</th></tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td class="text-mono">{{ item.perms }}</td>
      <td class="text-mono">{{ item.owner }}</td>
      <td class="text-right" title="{{ item.size_hr }}">{{ item.size }}</td>
      <td>{{ item.ts }}</td>
      <td><a href="/fs/{{ repo }}@{{ digest }}{{ item.path }}">{{ item.name }}{% if item.is_dir %}/{% endif %}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
