<div id="registry-explorer-overlay" class="notes-overlay hidden">
  <div class="mb-05">
    <input type="text" id="registry-image" class="form-input mr-05 w-20em" placeholder="ubuntu:latest" />
    <button type="button" class="btn" id="registry-fetch-btn">Fetch</button>
    <button type="button" class="btn" id="registry-close-btn">Close</button>
  </div>
  <div class="mb-05">
    <button type="button" class="btn btn--small" id="registry-add-bookmark-btn">Add Bookmark</button>
    <table class="table url-table mt-05" id="registry-bookmark-table">
      <tbody id="registry-bookmark-table-body"></tbody>
    </table>
  </div>
  <div id="registry-info" class="mt-05"></div>
  <div id="registry-table" class="mt-05"></div>
</div>
