@media (prefers-color-scheme: dark) {
  .retrorecon-root body {
    background-color: #1f1f1f;
    color: #bfbfbf;
  }
  .retrorecon-root a {
    color: #8c8cfa;
  }
  .retrorecon-root .swagger-ui .topbar,
  .retrorecon-root .swagger-ui section,
  .retrorecon-root .swagger-ui .information-container {
    background-color: #1f1f1f;
  }
  .retrorecon-root .swagger-ui .btn,
  .retrorecon-root .swagger-ui select {
    background-color: #303030;
    color: #e0e0e0;
  }
}
