body {
  --bg-color: #0d011e;
  --fg-color: #ffffd8;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
}
body.bg-hidden { background-image: none !important; }
