:root {
  --bg-color: #0d011e;
  --fg-color: #62b9e5;
}

.retrorecon-root {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
}

body.bg-hidden { background-image: none !important; }
