body {
  --bg-color: #21222c;
  --fg-color: #b3ecff;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
}
body.bg-hidden { background-image: none !important; }
